{% extends 'base.html.twig' %}

{% block title %}Referee index{% endblock %}

{% block body %}
    <h1>Referee index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for referee in referees %}
            <tr>
                <td>{{ referee.id }}</td>
                <td>{{ referee.lastname }}</td>
                <td>{{ referee.firstname }}</td>
                <td>
                    <a href="{{ path('app_referee_show', {'id': referee.id}) }}">show</a>
                    <a href="{{ path('app_referee_edit', {'id': referee.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_referee_new') }}">Create new</a>
{% endblock %}
